@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --ff-body: "Montserrat", sans-serif;
  --fw-light: 100;
  --fw-normal: 400;
  --fw-semi: 500;
  --fw-bold: 700;
  --fs-h1: 4rem;
  --fs-h2: 1.3rem;
  --fs-h3: 1.1rem;
  --fs-body: 1rem;
  --ls-body: 0.1em;
  --mgn-btm-none: 0;
  --mgn-btm-xsm: 0.4em;
  --mgn-btm-sm: 0.8em;
  --mgn-btm-md: 1.5em;
  --mgn-btm-lg: 3em;
  --pd-section: 9em;
  --pd-section-sm: 4em;
  --clr-light: #fff;
  --clr-gray: #989898;
  --clr-light-gray: #d1d1d1;
  --clr-dark-gray: #808080;
  --clr-bg: #d8d8d8;
  --clr-accent: #e600c8;
  --clr-accent-secondary: #01dad2;
  --clr-accent-drk: #00274e;
  --clr-btn-bg: rgba(255, 255, 255, 0.3);
}

body {
  font-family: var(--ff-body);
  line-height: 1.6;
  letter-spacing: var(--ls-body);
  color: var(--clr-light);
  font-weight: var(--fw-light);
  background-color: var(--clr-bg);
  padding: var(--pd-section);
}

.content {
  background-image: url("./images/main-bg.png");
  width: 100%;
  background-size: cover;
  padding: var(--pd-section-sm);
  margin: 0 auto;
  width: 70vw;
  height: 70vh;
  box-shadow: 0 1em 1em var(--clr-dark-gray);
  .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: var(--mgn-btm-lg);
    .nav-items {
      display: flex;
      justify-content: space-between;
      align-items: center;
      img {
        width: 20%;
      }
      a {
        padding: 0 1em;
      }
    }
  }
}

h1 {
  font-size: var(--fs-h1);
  color: var(--clr-accent-secondary);
  font-weight: var(--fw-light);
  text-transform: uppercase;
  line-height: normal;
  margin-bottom: var(--mgn-btm-xsm);
}

a {
  color: var(--clr-light);
  text-decoration: none;
}

button {
  border: 1px solid var(--clr-light);
  color: var(--clr-light);
  background-color: var(--clr-accent-drk);
  padding: 0.8em 2em;
  border-radius: 20px;
  cursor: pointer;
}

.heading {
  text-align: center;
  padding: 0 100px;
}
